<h1>Ejemplos Session</h1>
<h2>@Context.Session.GetString("nombre")</h2>
<h2>@Context.Session.GetString("hora")</h2>

<ul>
    <li><a asp-controller="EjemploSession" asp-action="SessionSimple">Session Simple</a></li>
</ul>
