@model List<Mascota>

@{
    ViewData["Title"] = "SessionMascotaCollectionGeneric";
}

<h1>SessionMascotaCollectionGeneric</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                modeEdad
            </th>
            <th>
                Raza
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
        </tr>
}
    </tbody>
</table>
